/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background-color: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
}

.bg-grey {
  background-color: var(--clr-grey-10);
}
/* added during recording */

/*
=============== 
Navbar
===============
*/

.nav-links {
  display: none;
}

.nav {
  padding: 1rem;
  height: 5rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}

.nav-btn {
  background: transparent;
  border-color: transparent;
  font-size: 2rem;
  color: var(--clr-primary-5);
  justify-self: end;
  cursor: pointer;
  margin-right: 1.7rem;
}

@media screen and (min-width: 765px) {
  .nav {
    background-color: var(--clr-primary-10);
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 2rem;
    justify-self: end;
  }

  .nav-links a {
    color: var(--clr-grey-1);
    text-transform: capitalize;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    letter-spacing: var(--spacing);
    font-weight: bold;
  }

  .nav-links a:hover {
    color: var(--clr-primary-5);
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
  }
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-white);
  z-index: 2;
  box-shadow: var(--light-shadow);
}
/*
=============== 
Sidebar
===============
*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-grey-10);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  /* transform: translateY(-100%); */
}

.show-sidebar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  /* transform: translateY(0); */
}

.sidebar-links {
  text-align: center;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  display: inline-block;
  margin-bottom: 1.5rem;
  letter-spacing: var(--spacing);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.sidebar-links a:hover {
  color: var(--clr-primary-5);
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 20rem;
  justify-items: center;
  margin: 1rem;
}

.social-icon {
  color: var(--clr-grey-1);
  font-size: 1.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary-5);
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.6rem;
  background: transparent;
  border: transparent;
  color: #e66b6b;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.close-btn:hover {
  color: #bb2525;
}

@media screen and (min-width: 992px) {
  .show-sidebar {
    display: none;
  }
}

/*
=============== 
Hero
===============
*/
.hero {
  background-color: var(--clr-primary-10);
  margin-top: -1.5rem;
}

.hero-img {
  display: none;
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}

.hero-info {
  text-align: center;
}

.hero-info h1 {
  color: var(--clr-primary-4);
}

.hero-info h4 {
  color: var(--clr-grey-5);
  line-height: 1.6;
}

.hero-icons {
  justify-content: center;
  width: 50vw;
  margin: 1rem auto;
}

.hero-btn {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .hero-info {
    text-align: left;
  }
  .hero-icons {
    display: none;
  }

  .hero .underline {
    margin-left: 0;
  }

  .hero-img {
    display: block;
    position: relative;
    margin-bottom: 2rem;
  }

  .hero-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-img::before,
  .about-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    top: 2rem;
    right: -2rem;
  }
}
.hero-photo {
  width: 25rem;
  height: 30rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

/*
=============== 
About
===============
*/
.about-title {
  text-align: left;
  margin-bottom: 1.5rem;
}

.about-underline {
  margin-left: 0;
}

.about-center {
  display: grid;
  gap: 3rem 2rem;
}

.about-info p {
  line-height: 1.6;
}

.about-img {
  justify-self: center;
  position: relative;
  z-index: -2;
}

@media screen and (min-width: 992px) {
  .about-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-img {
    position: relative;
  }

  .about-img::before {
    left: -2rem;
  }

  .about-info {
    align-self: center;
  }
}

/*
=============== 
Services
===============
*/

.service {
  background: var(--clr-white);
  padding: 2rem 1.5rem;
  margin-bottom: 1.2rem;
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: var(--radius);
}

.service-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.service p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.service:hover {
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
}

.service:hover p {
  color: var(--clr-white);
}

.service:hover .underline {
  background-color: var(--clr-white);
}

@media screen and (min-width: 765px) {
  .services-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    width: 70vw;
    margin: 0 auto;
  }
}

/*
=============== 
Projects
===============
*/

.project-text {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.project {
  position: relative;
  background-color: var(--clr-primary-5);
  margin-bottom: 2rem;
  border-radius: var(--radius);
  z-index: -2;
}

.project-info {
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
}

.project-info p {
  text-transform: capitalize;
  color: var(--clr-white);
}

.project:hover .project-info {
  opacity: 1;
}

.project-img {
  height: 17rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.project:hover .project-img {
  opacity: 0.3;
}

.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  border-radius: var(--radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  opacity: 0;
}

.project:hover::after {
  opacity: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

@media screen and (min-width: 765px) {
  .projects-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-rows: 200px 200px;
    grid-template-areas:
      "a b b"
      "a c d";
    row-gap: 1rem;
  }

  .project-img {
    height: 100%;
  }

  .project {
    height: 100%;
  }

  .project-1 {
    grid-area: a;
  }

  .project-2 {
    grid-area: b;
  }

  .project-3 {
    grid-area: c;
  }

  .project-4 {
    grid-area: d;
  }
}

/*
=============== 
Connect
===============
*/

.connect {
  min-height: 50vh;
  padding: 10rem 0 5rem 0;
  margin-top: 5rem 0;
  position: relative;
  z-index: -2;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}

.connect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-white);
  opacity: 0.5;
  z-index: -1;
}

.connect {
  display: grid;
  place-items: center;
}

.video-banner .section-title {
  margin-bottom: 2rem;
}

.video-banner {
  background-color: var(--clr-primary-10);
  padding: 3rem 5rem 12rem 5rem;
  text-align: center;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

.video-text {
  max-width: 30rem;
}

.connect {
  -webkit-clip-path: polygon(48% 0, 100% 11%, 100% 90%, 53% 100%, 0 91%, 0 11%);
  clip-path: polygon(48% 0, 100% 11%, 100% 90%, 53% 100%, 0 91%, 0 11%);
}

/*
=============== 
Skills
===============
*/
.skills {
  background-color: var(--clr-primary-10);
  margin-top: 5rem;
  position: relative;
  z-index: -2;
}

.skills h3 {
  color: var(--clr-primary-1);
  margin: 2rem 0;
}

.skill {
  margin-bottom: 1rem;
}

.skill p {
  text-transform: capitalize;
  color: var(--clr-primary-1);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }
}
/*
=============== 
Timeline
===============
*/
.timeline-center {
  width: 80vw;
  max-width: 40rem;
}

.timeline-item {
  border-top: 2px dashed var(--clr-primary-5);
  margin-bottom: 0;
  padding: 2rem 1.5rem;
  position: relative;
  z-index: -2;
}

.timeline-item p {
  margin: 0;
}

.timeline-item:nth-child(even) {
  border-left: 2px dashed var(--clr-primary-5);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}

.timeline-item:nth-child(odd) {
  border-right: 2px dashed var(--clr-primary-5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}

.timeline-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}

.timeline-item:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

.number {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--clr-primary-5);
  color: var(--clr-primary-1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0;
  font-weight: bold;
}

.timeline-item:nth-child(even) .number {
  left: 0;
}

.timeline-item:nth-child(odd) .number {
  /* 
  Also works
  left: 100%; */

  right: 0;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
/*
=============== 
Blog
===============
*/

.blog {
  background-color: var(--clr-grey-10);
  position: relative;
  z-index: -2;
}

.card {
  position: relative;
  height: 27rem;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  margin-bottom: 1.5rem;
}

.card-side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
}

.card-front {
  background-color: var(--clr-white);
}

.card-back {
  background-color: var(--clr-primary-10);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}

.card:hover .card-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.card-info {
  padding: 1rem 1.5rem;
}

.card-front img {
  height: 13rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.card-footer {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}

.card-footer img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.card-footer p {
  text-transform: uppercase;
  margin-bottom: 0;
  justify-self: end;
  color: var(--clr-primary-6);
  font-size: 0.85rem;
}

.blog-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1rem;
}
/*
=============== 
Footer
===============
*/

.footer {
  background-color: #222;
  display: grid;
  place-items: center;
}

.footer .social-icons {
  margin-bottom: 2rem;
}

.footer .social-icon {
  color: var(--clr-primary-5);
}

.footer .social-icon:hover {
  color: var(--clr-primary-10);
}

.footer p {
  font-size: 1.25rem;
  color: var(--clr-white);
  text-transform: capitalize;
}
/*
=============== 
Single Page
===============
*/

.single-page {
  background-color: var(--clr-primary-10);
  min-height: 67.3vh;
}

.page-info {
  max-width: 700px;
}

.page-info a {
  color: var(--clr-primary-5);
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.page-info a:hover {
  color: var(--clr-primary-1);
}

/*
=============== 
Products Page
===============
*/

.projects-hero {
  height: 40vh;
  background-color: var(--clr-primary-10);
  display: grid;
  place-items: center;
}

.projects-hero .section-title {
  margin-bottom: 0;
}

.single-project {
  background-color: var(--clr-grey-10);
  border-radius: var(--radius);
  position: relative;
  z-index: -3;
}

.project-container img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.project-container {
  position: relative;
}

.project-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 1.5rem;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  height: 4rem;
  width: 4rem;
  background-color: var(--clr-primary-5);
  color: var(--clr-primary-1);
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 0.375rem solid var(--clr-grey-10);
}

.project-details {
  padding: 2rem 1.5rem;
}

.project-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--clr-primary-5);
  font-size: 1.2rem;
}

.project-footer a {
  justify-self: end;
  text-transform: capitalize;
  color: var(--clr-primary-5);
  transition: var(--transition);
}

.project-footer a:hover {
  color: var(--clr-primary-1);
}

.projects-page-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem 1rem;
  /* grid-template-rows: auto 1fr auto; */
}

/*
=============== 
Jobs
===============
*/

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: var(--clr-primary-10);
}
.job-btn:hover {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}
.active-btn {
  color: var(--clr-primary-5);
  box-shadow: 0 2px var(--clr-primary-5);
}

.job-info h3 {
  font-weight: 400;
}
.job-info h4 {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
}
.job-date {
  letter-spacing: var(--spacing);
}
.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}
.job-icon {
  color: var(--clr-primary-5);
}
@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 1rem;
  }
  .active-btn {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
  .job-btn:hover {
    box-shadow: -2px 0 var(--clr-primary-5);
  }
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
.title h2 {
  text-align: center;
}
